.flex_layer{
  display: flex;
}

.flex_layer_mobile{
  display: flex;
}

.flex_layer_most_mobile{
  display: flex;
}

.flex_layer_most_mobile_main{
  display: flex;
}

.flex_layer_project{
  display: flex;
}

.ms_flex_layer{
  display: -ms-flexbox;
}

.flex_layer_column{
  display: flex;
  flex-direction: column;
}

.flex_layer_diection_row{
  flex-direction: row;
}

.flex_layer_1{
  flex: 1;
}

.flex_layer_thumb{
  display: flex;
}

.flex_layer_thumb_content{
  display: block;
}

@media (max-width:1060px){
  .flex_layer_thumb{
    display: block;
  }

  .flex_layer_thumb_content{
    display: flex;
  }
}

@media (max-width:1050px){
  .flex_layer_most_mobile_main{
    display: block;
  }
}

@media (max-width:1030px){
  .flex_layer_mobile{
    display: block;
  }
}

@media (max-width:960px){
  .flex_layer_project{
    display: block;
  }
}

@media (max-width:670px){
  .flex_layer_most_mobile{
    display: block;
  }
}
