body{
  word-break: keep-all;
  background-color: white;
  font-family:'Noto Sans KR',sans-serif;
}

.pointColor{
  color: #ea535a;
}

.navbar-default {
  position: static;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navbar-default .navbar-nav>li>a{
  color: #222222;
  font-size: 14px;
  font-weight: 500;
}

.basecontainer{

}

.display_none{
  display: none !important;
}
