.project-grid-wrapper{
  /*position: absolute;*/
  position: static;
  top: 0;
  left: 0;

  width: 227.5px;
  height: 331.13px;

  border: 1px #dedede solid;
  background-color: #fcfcfc;

  margin-left: auto;
  margin-right: auto;
}

/* 프로젝트 썸네일 영역 관련 */
.project-grid-wrapper h4 {
    margin:0px;
    font-size:15px !important;
    font-weight:700;
    letter-spacing:-0.5px;
}

.welcome_main_container_width{
  height: 520px;
}

.welcome_main_thumb_container{
  margin-left: auto;
  margin-right: auto;
  /*width: 970px;*/
  width: 1050px;
  height: 100%;

  /*padding: 0px 0px;*/
  padding-bottom: 60px;

}

.welcome_main_thumb_title_container{
  width: 96.5%;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 60px;
}

.welcome_main_thumb_title_container h4{
  margin:0px;
  font-size:15px;
  font-weight:700;
  letter-spacing:-0.5px;
}

.welcome_main_carousel_container{
  width: 100%;
  height: 100%;
}

.welcome_main_carousel_content_container{
  position:relative;
  max-width:970px;
  margin:0 auto;
  height:100%;
}

.welcome_main_carousel_content_caption{
  position:absolute;
  /*left:0%;*/
  /*left:230px;*/
  left:0px;
  right:0%;
  bottom:90px;
  color:#ffffff;
  text-align:left;
  text-shadow: none;
}

.welcome_main_carousel_content_caption>h6 {
    margin-top:10px;
    margin-bottom:5px;
}

.welcome_main_carousel_content_caption>h5 {
    font-size: 15px;
}

.welcome_main_carousel_content_caption>h2 {
    margin-top:5px;
    margin-bottom:15px;
    font-size: 41px;
}

.welcome_main_carousel_content_caption>h4 {
    font-size: 18px;
}

.project-title{
  text-align: left;
}

.project_carousel_container{
  /*margin: 13px;
  width: 100%;
  */
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 69%;
  margin: 5px;
}

.project_carousel_container_colOnly{
  padding-bottom: 140%;
}

@media (max-width:1200px) {
    .welcome_main_carousel_content_caption {
        /*bottom:155px;*/
    }

  .welcome_main_thumb_container{
      /*width: 90%;*/
    }
}

@media (max-width:768px) {
    .welcome_main_carousel_content_container {
        max-width:700px;
    }
}

/*모바일 사이즈*/
@media (max-width:576px) {
    .welcome_main_carousel_content_container {
        max-width:300px;
        margin-left: 620px;
        /*margin-left: 400px;*/
        /*margin-right: 300px;*/
    }
}

.project-thumbnail {
    position:relative;
    padding-top:75%;
    overflow:hidden;
    background-color: white;
}

.project-img {
  /*
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width:100%;
    height: 100%;
    width: 100%;
    */

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width:100%;
    margin: auto;
}

.project-grid-wrapper .project-thumbnail {
    /*height:163px;*/
}

.project-grid-wrapper .poster-title {
    margin:18px 0 13px 0;
    padding:0 12px 0 12px;
    font-weight:bold;
}
.project-grid-wrapper .poster-thumbnail .white-mask {
    display:none;
}
.project-grid-wrapper .poster-thumbnail:hover .white-mask {
    display:block;
}

.project-grid-wrapper .poster-info {
    margin:13px 0 13px 0;
    padding:0 12px 0 12px;
    color:#656969;
}

.project-grid-wrapper .project-category {
    margin: 0px 0 10px 0;
    padding:0 12px 0 12px;
    font-weight:bold;
    text-align: left;
}
.project-category-c {
    background-color:#e15998;
    color:#ffffff;
    padding:3px 7px;
    font-size:10px;
    border-radius:4px;
    font-weight:400;
}
.project-category-a {
    background-color:#7c76b6;
    color:#ffffff;
    padding:3px 7px;
    font-size:10px;
    border-radius:4px;
    font-weight:400;
}

.project-category-culture {
    background-color:#89cdce;
    color:#ffffff;
    padding:3px 7px;
    font-size:10px;
    border-radius:4px;
    font-weight:400;
}
.ct-percent {
    float:right;
    font-weight:600;
    color:#43c9f0;
}

.project-grid-wrapper .project-description{
  color:#656969;
  min-height: 3em;
  height: 3em;
}

.project-grid-wrapper .project-info {
    /*margin:19px 0 13px 0;*/
    margin:0px 0px 0px 0px;
    padding:13px 12px 0 12px;
    color:#222;
    width: 100%;

    text-align: left;
}

.project-info h6 {
    height: 12px;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.project_carousel_date{
  display: inline-block;
  width: 108px;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}

.project_carousel_conerthall{
  display: inline-block;
  width: 81px;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
  float:right;
  text-align: right;
}

.project_thumbnail_content_wrapper{
  margin-bottom: 13px;
  margin-top: 15px;
}

.project_thumb_title_wrapper{

}

.project_thumb_title_wrapper_wrapper{

}

.project-grid-wrapper_pick{
  width: 492.3px;
  height: 147.7px;
}

.project_thumbnail_content_wrapper_pick{
  width: 59%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project_thumbnail_image_wrapper_pick{
  /*width: 194.9px;*/
  width: 40%;
  /*height: 147.7px;*/
}

.project-title_pick{
  margin-top: 15.6px !important;
}

.project-category_pick{
  padding-top: 0px !important;
  position: absolute !important;
  top: 78%;
  margin-left: 10px;
  width: 58%;
}

.main_thumb_hash_wrapper{
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #656969;
  margin-top: 2px;
}

.project_carousel_container_pick{
  padding-bottom: 15%;
}

.thumbnail-wrappper_pick{
  position: static;
}

.project_form_poster_origin_size_ratio_pick{
  padding-bottom: 0;
}

.project_form_poster_origin_size_ratio_colOnly{
  padding-bottom: 0 !important;
}

.project_form_poster_sampleview_tag_img{
  text-align: left;
  margin-top: 70px;
  margin-left: 8px;
}

@media (max-width:1200px) {
  .project_carousel_conerthall{
    width: 40%;
    display: inline;
  }
}

@media (max-width:1050px) {
  .project-grid-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .project_carousel_date{
    width: 100%;
    display: inline;
  }
  .welcome_main_thumb_container{
    width: 100%;
    /*width: 500px;*/
  }
  .swiper-slide{
    flex-direction: column;
  }

  .project_form_poster_origin_size_ratio{
    /*padding-bottom: 675px;*/
    padding-bottom: 112%;
  }

  .project_carousel_container{
    padding-bottom: 60%;
  }

  .project_form_poster_origin_size_ratio{
    padding-bottom: 130%;
  }

  .project_thumbnail_content_wrapper{
    height: 38%;
    margin-bottom: 0px;
  }

  .project-grid-wrapper .project-info{
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    top: 95%;
  }

  .project_carousel_container_pick{
    padding-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 97%;
  }

  .project_form_poster_origin_size_ratio_pick{
    padding-bottom: 0;
  }

  .project_thumbnail_image_wrapper_pick{
    width: 41%;
  }

  .project-category_pick{
    top: 90%;
  }

  .project_carousel_container_colOnly{
    padding-bottom: 140%;
  }

  .project_form_poster_sampleview_tag_img{
    margin-left: 6px;
  }
}

/* 크라우드 티켓 브랜딩 영역 관련 */
.main-leftimgbox {
    background:url('/img/app/ct-background.jpg') center center no-repeat;
    background-size:cover;
    height:auto;
    padding:15px 30px;
    color:white;
    text-align:center;
    position:relative;
    z-index:100;
}
/*크라우드티켓 매거진 캐러셀 영역 START*/
.swiper-magazine-container {
  width: 96.5%;
  height: 100%;
  overflow: hidden;
  /*margin-bottom: 60px;*/
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-magazine-container h4{
  font-size: 15px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 13px;
  letter-spacing: -0.5px;
}

.swiper-pagination-bullet{
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active{
  background-color: #000 !important;
}

.swiper-magazine-pagination-bullet {
  width: 30px;
  height: 3px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-magazine-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}

.magazine_thumbnail_container{
  /*width: 710px;*/
  width: 100%;
  /*margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 20px;
}
.magazine_thumbnail_image_wrapper{
  /*width: 100%;*/
  width: 50%;
}
.magazine-thumbnail {
  position:relative;
  /*padding-top:75%;*/
  padding-top:56.25%;
  overflow:hidden;
  background-color: white;
  border-radius: 10px;
}

.magazine-img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width:100%;
  margin: auto;
}

.magazine_thumb_content_container{
  width: 50%;
  padding: 0px 10px;
  word-break: break-all;
  text-align: left;
}

.magazine_thumb_content_title{
  font-weight: 500;
  font-size: 30px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 40px;     /* fallback */
  max-height: 79px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.magazine_thumb_content_content{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 100px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 45px;
  font-weight: 400;
  font-size: 16px;
}

.swiper-magazine-pagination{
  text-align: center;
}

.magazine_thumb_date{
  font-size: 15px;
  color: #777;
  margin-top: 25px;
  font-weight: 400;
}

/*크라우드티켓 매거진 캐러셀 영역 END*/

@media (max-width:960px) {
  .project_carousel_container_colOnly{
    padding-bottom: 108%;
  }
}

@media (max-width:768px) {
    .main-leftimgbox {
        background:url('/img/app/ct-m-background.jpg') center center no-repeat;
        background-size:cover;
    }
}
.ct-btn {
    font-size:15px;
    font-weight:500;
    padding:15px 40px;
}
@media (max-width:768px) {
    .img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img {
        display:block;
        max-width:none;
        height:250px;
        overflow:hidden;
        margin:0 auto;
        left:50%;
        position:relative;
        transform:translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

@media (max-width:690px) {
  .welcome_main_carousel_content_caption>h5{
    font-size: 25px;
  }
  .welcome_main_carousel_content_caption>h2{
    font-size: 51px;
  }
  .welcome_main_carousel_content_caption>h4{
    font-size: 28px;
  }

  .project-category_pick{
    top: 85%;
  }
}

/*모바일 사이즈*/
@media (max-width:576px) {
    .welcome_main_carousel_content_container {
        max-width:300px;
        margin-left: 620px;
        /*margin-left: 400px;*/
        /*margin-right: 300px;*/
    }

    .project-grid-wrapper .project-category{
      padding: 0 5px 0 5px;
      margin-bottom: 5px;
    }

    .ct-percent{
      font-size: 10px;
    }

    .project-category-a{
      padding: 1px 4px;
    }

    .project-category-c{
      padding: 1px 4px;
    }

    .project-category-culture{
      padding: 1px 4px;
    }

    .project-grid-wrapper .project-title{
      padding: 5px 5px 0 5px;
      margin: 0;
    }

    .project-grid-wrapper h4{
      font-size: 11px !important;
    }

    .project-grid-wrapper .project-description{
      padding: 0;
      margin: 5px 5px 0 5px;
      font-size: 10px;
    }

    .project_thumbnail_content_wrapper{
      margin-top: 5px;
    }

    .project_carousel_date{
      display: inline-block;
      width: 75px;
      text-overflow: ellipsis;
      white-space:nowrap;
      overflow: hidden;
    }

    .project-grid-wrapper .project-info{
      padding: 0 5px 0 5px;
      margin: -7px 0px;
    }

    .project-title_pick{
      margin-top: 2.6px !important;
    }

    .main_thumb_hash_wrapper{
      font-size: 10px;
    }
}

@media (max-width:440px) {
  .text-ellipsize-2{
    -webkit-line-clamp: 1;
  }

  .project-grid-wrapper .project-description{
    min-height: 100%;
    height: 100%;
    display: block;
    white-space: nowrap;
  }

  .project-category_pick{
    top: 75%;
  }
}

@media (max-width:350px) {
  .project-grid-wrapper .project-description{
    min-height: 15px;
    height: 15px;
    margin-top: 3px;
  }

  .text-ellipsize-2{
    -webkit-line-clamp: 1;
  }

  .project-grid-wrapper .project-info{
    padding: 5px 5px 0 5px;
    top: 91%;
    margin: -3px 0px;
  }

  .project_carousel_date{
    font-size: 10px;
    word-spacing: -1.5px;
  }
  .project_carousel_conerthall{
    font-size: 10px;
  }

  .project_carousel_date{
    height: 13px;
  }

  .project_carousel_date{
    width: 62px;
  }

  .project-grid-wrapper .project-title{
    padding-top: 2px;
  }
}

.project-grid-wrapper_temp{

}

.project_carousel_container_temp{
  padding-bottom: 0px;
}


/*매거진*/

  @media (max-width:1050px) {
    .swiper-magazine-container h4{
      margin-bottom: 25px;
    }

    .magazine_thumb_date{
      margin-top: 5%;
    }

    .magazine_thumb_content_content{
      margin-top: 5%;
    }
  }

  @media (max-width:900px) {
    .magazine_thumb_content_content{
      -webkit-line-clamp: 4;
    }
  }

  @media (max-width:760px) {
    .magazine_container{
      width: 100%;
      padding: 0px 20px;
    }

    .magazine_thumb_content_content{
      font-size: 13px;
      line-height: 20px;
      margin-top: 2%;
      -webkit-line-clamp: 5;
    }

    .magazine_thumb_date{
      margin-top: 2%;
    }

    .magazine_thumbnail_container{
      width: 100%;
    }

    .magazine_thumb_content_title{
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media (max-width:670px) {
    .magazine_thumb_content_content{
      -webkit-line-clamp: 4;
    }

    .magazine_thumb_content_content{
      font-size: 12px;
    }

    .magazine_thumb_date{
      font-size: 12px;
    }

    .magazine_thumb_content_title{
      font-size: 18px;
    }

    .magazine_thumbnail_container
    {
      margin-bottom: 10px;
    }
  }

  @media (max-width:590px) {
    .magazine_thumb_content_content{
      -webkit-line-clamp: 3;
    }

    .magazine_thumb_content_content{
      font-size: 12px;
    }

    .magazine_thumb_date{
      font-size: 12px;
    }

    .magazine_thumb_content_title{
      font-size: 18px;
    }

    .swiper-pagination-bullet{
      width: 20px !important;
    }
  }

  @media (max-width:520px) {
    .magazine_thumb_content_content{
      -webkit-line-clamp: 2;
    }

    .swiper-magazine-container{
      margin-top: 30px;
      /*margin-bottom: 30px;*/
    }

    .welcome_main_thumb_title_container{
      margin-top: 30px;
    }
  }

  @media (max-width:450px) {
    .magazine_thumb_content_title{
      font-size: 14px;
      line-height: 18px;
    }

    .magazine_thumb_content_content{
      margin-top: 4%;
      font-size: 10px;
      line-height: 13px;
      -webkit-line-clamp: 3;
    }

    .magazine_thumb_date{
      font-size: 9px;
      margin-top: 4%;
    }

    .magazine_title{
      margin-bottom: 55px;
    }

    .magazine_thumbnail_container{
      margin-bottom: 20px;
    }
  }

  @media (max-width:400px) {
    .magazine_thumb_content_content{
      -webkit-line-clamp: 2;
    }
  }

  @media (max-width:320px) {
    .magazine_thumb_content_title{
      font-size: 11px;
      line-height: 13px;
    }

    .magazine_thumb_content_content{
      margin-top: 5%;
      font-size: 10px;
      line-height: 13px;
      -webkit-line-clamp: 2;
    }

    .magazine_thumb_date{
      font-size: 9px;
      margin-top: 5px;
    }

    .magazine_title{
      margin-bottom: 55px;
    }

    .magazine_thumbnail_container{
      margin-bottom: 20px;
    }

    .swiper-pagination-bullet{
      width: 15px !important;
    }
  }
/*매저긴 end*/
