.EventStorePlanning {
  // padding-top: 64px;
  // padding-bottom: 64px;

  width: 100%;
  overflow: hidden;

  .layer_1_container {
    width: 100%;
    // max-width: 500px;
    // max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .layer_1_img {
    // width: 100%;
  }

  .layer_container {
    
    width: 100%;
    max-width: 500px;
    // max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

  .EventStoreContainer {
    // position: relative;
    // width: 520px;
    width: 100%;
    // max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // position: absolute;
  }

  .layer_img {
    width: 100%;
  }

  .background_img {
    width: 100%;
    height: 100%;
    // position: absolute;
    // height: 100%;
  }
  /*
  .layer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .EventStoreContainer {
    // width: 520px;
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  .layer_img {
    width: 100%;
  }

  .background_img {
    width: 100%;
    height: 100%;
  }
  */
  @media (max-width: 520px){
    /*모바일일때*/  
  }
}

.pageController {
  width: 100%;
}