
#react_root{
  background-color: #fafafa;
  white-space: pre-line;

  button:disabled {
    background-color: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
  }
}

.pageController_home {
  width: 100%;

  @media (min-width: 1176px){
    // display: flex;
    // width: 1176px;
    // justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
  }

  @media (max-width: 1176px){
    width: 100%;
    // padding-left: 40px;
    // padding-right: 40px;
  }

  @media (max-width: 768px){
    width: 100%;
    // padding-left: 24px;
    // padding-right: 24px;
  }
}

/*
.pageController_home {
  width: 100%;

  @media (min-width: 1176px){
    display: flex;
    width: 1176px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 1176px){
    width: 100%;
    // padding-left: 40px;
    // padding-right: 40px;
  }

  @media (max-width: 768px){
    width: 100%;
    // padding-left: 24px;
    // padding-right: 24px;
  }
}
*/

.pageController {
  width: 100%;
  
  .paddingContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .flex_layer {
    display: flex;
  }

  .flex_direction_row {
    flex-direction: row;
  }

  .flex_direction_column {
    flex-direction: column;
  }
}

// @media (min-width: 520px){
//   .pageController{
//     display: flex;
//     width: 520px;
//     justify-content: center;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// @media (min-width: 1176px){
//   .pageController{
//     display: flex;
//     width: 1176px;
//     justify-content: center;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

@media (min-width: 520px){
  .pageController{
    display: flex;
    width: 520px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

input::placeholder {
  color: #acacac;
}

.button_disabled {
  background-color: rgb(204, 204, 204);
  color: rgb(255, 255, 255);
}