.Home_Top_Banner {
  
  position: relative;
  .carousel_item_container {
    width: 100%;
    height: 360px;
    background-color: blue;
    position: relative;
  }

  .carousel_item_title_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    width: 100%;
    // z-index: 1;

    display: flex;
    justify-content: center;
    padding-top: 56px;
    // align-items: center;
  }

  .carousel_item_title_box {
    width: 1176px;
    padding-left: 15px;
    text-align: left;
  }

  .right_contents {
    width: 1048px;
    margin-left: auto;
  }

  .item_img {
    width: 100%;
  }

  .carousel_item_title {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
  }

  .carousel_item_sub_title {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
    color: #ffffff;
    margin-top: 16px;
  }

  .carousel_buttons_container {
    position: absolute;
    // top: 0;
    left: 0;
    // right: 0;
    bottom: 24px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel_buttons_box {
    width: 1176px;
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  .carousel_button_right {
    background-color: rgba(0,0,0,0);
    margin-left: 12px;
  }

  .carousel_button_left {
    background-color: rgba(0,0,0,0);
  }

  .carousel_index_container {
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    color: white;
  }

  .carousel_index_text {
    
  }

  .carousel_total_text {
    opacity: 0.5;
  }

  .carousel_go_store_img_container {
    margin-top: 24px;
  }

  .carousel_go_store_img {
    
  }

  .carousel_counting_contents_container {
    margin-top: 24px;
  }

  @media (max-width: 1176px){
    /*모바일일때*/

    .carousel_buttons_box {
      width: 100%;
      padding-left: 28px;
    }
    .carousel_item_container {
      // height: 560px;
      height: auto;
    }

    .carousel_item_title_container {
      position: unset;
      height: 296px;

      align-items: flex-start;
      padding-top: 40px;
    }

    .carousel_item_title_box {
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 26px;
    }

    .right_contents {
      width: 100%;

    }

    .alice-carousel__stage-item{
      width: 100% !important;
    }

    .carousel_item_title {
      font-size: 28px;
    }
  }

  @media (max-width: 768px){
    .carousel_item_title_container {
      position: unset;
      height: 218px;

      align-items: flex-start;
      padding-top: 24px;
    }

    .carousel_buttons_box {
      padding-left: 24px;
    }

    .carousel_item_title {
      font-size: 20px;
    }
  
    .carousel_item_sub_title {
      font-size: 14px;
    }

    .carousel_button_left {
      display: none;
    }

    .carousel_button_right {
      display: none;
    }

    .carousel_index_container {
      margin-left: 0px;
    }

    .carousel_item_title_box {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 26px;
    }

    .carousel_go_store_img_container {
      margin-top: 16px;
    }
  
    .carousel_go_store_img {
      width: 116px;
      height: 34px;
    }
  }
}