.InputBox {
  position: relative;

  input {
    width: 100%;
    height: 54px;
    border: solid 1px #f4f4f4;
    margin-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    border-radius: 4px;
  }

  .input_password {
    padding-right: 50px;
  }

  input::placeholder {
    color: #b3b3b3
  }

  input:hover {
    border: solid 1px #b3b3b3;
  }

  input:focus {
    border: solid 1px #b3b3b3;
  }

  .input_label {
    font-size: 14px;
  }

  .input_error {
    border: solid 1px #fc5e7c;
  }

  .password_container {
    position: relative;
  }
  
  .password_show_button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    background-color: rgba(0,0,0,0);
  }

  @media (max-width: 768px){
    /*테블릿*/  
  }

  @media (max-width: 453px){
    /*모바일일때*/  
  }
}