.PasswordResetPage {
  
  .page_label_text {
    font-size: 24px;
    font-weight: bold;
    color: #191919;
  }

  .content_container {
    margin-top: 32px;
  }

  .input_label{
    margin-bottom: 4px;
  }

  .password_forget_text {
    font-size: 12px;
    color: #999999;
    margin-top: 8px;
  }

  .new_password_container {
    margin-top: 40px;
  }

  .buttons_container {
    display: flex;
    margin-top: 24px;
  }

  .button_cancel {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: bold;
    color: #191919;
  }

  .button_change_password {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    background-color: #00bfff;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
  @media (max-width: 768px){
    /*테블릿*/  
  }

  @media (max-width: 453px){
    /*모바일일때*/  
  }
}