$thumb_item_width: 130px;

.StoreOtherItems {
  
  .blur_thumb_cover {
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
  }

  .viewport{
    position: relative;
  }

  .thumb_item_container {
    width: $thumb_item_width;
    // height: $thumb_item_width;
    margin-right: 20px;
  }

  .thumb_item_img {
    width: $thumb_item_width;
    height: $thumb_item_width;
    border-radius: 12px;
  }

  .thumb_item_title {
    width: $thumb_item_width;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    margin-top: 15px;
  }

  .price_text {
    text-align: left;
    margin-top: 2px;
    font-size: 12px;
    color: #28BFFF;
    font-weight: bold;
  }

  @media (max-width: 520px){
    /*모바일일때*/  
  }
}