.StoreOrderComplitePage {
  padding-top: 64px;
  padding-bottom: 64px;
  .label_title_text {
    font-size: 32px;
    font-weight: bold;
    color: #1a1a1a;
    // margin-top: 64px;
  }

  .receipt_label_text {
    font-size: 18px;
    font-weight: bold;
    color: #191919;
    margin-top: 20px;
  }

  .container_box {
    margin-top: 20px;
    padding: 32px;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .how_ask_text {
    font-size: 18px;
    font-weight: bold;
    color: #191919;
  }

  .how_answer_text {
    font-size: 14px;
    color: #1a1a1a;
  }

  .under_line {
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: 520px){
    /*모바일일때*/
    .container_box{
      margin-top: 20px;
      padding: 20px;
    }

    .label_title_text{
      text-align: center;
      font-size: 24px;
    }
  }
}

@media (max-width: 520px){
  /*모바일일때*/
  .StoreOrderComplitePage{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}