$item_width: 80px;

.StoreContentsListItem {
  padding: 20px;

  .item_img_wrapper {
    width: $item_width;
    height: $item_width; 
  }

  .item_img {
    width: $item_width;
    height: $item_width;
    border-radius: 12px;
  }

  .item_content_container {
    padding-left: 20px;
    word-break: break-word;
  }

  .item_name {
    font-size: 12px;
    color: #808080;
    margin-bottom: 4px;
  }
  
  .item_title {
    font-size: 16px;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .item_price {
    font-size: 14px;
    font-weight: bold;
    color: #00bfff;
  }

  .manager_buttons_container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .manager_edit_button {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #191919;
  }

  .manager_between {
    width: 12px;
    height: 48px;
  }

  .manager_delete_button {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    background-color: #f4f4f4;
    font-size: 14px;
    color: #191919;
  }

  .manager_reorder_container {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    background-color: #00bfff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  .manager_reorder_up_button {
    width: 100%;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
  }

  .manager_reorder_down_button {
    width: 100%;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
  }

  .manager_reorder_button_text {
    margin-left: 16px;
    font-size: 14px;
    color: #ffffff;
  }

  @media (max-width: 520px){
    /*모바일일때*/
    
  }
}

.item_under_line {
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}

@media (max-width: 520px){
  /*모바일일때*/
  .item_under_line {
    display: none;
  }
}