.StoreManagerTabAccountPage {
  padding-top: 64px;
  padding-bottom: 64px;

  .box_container {
    margin-top: 40px;
  }

  .input_label {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #000000;
  }

  .input_box {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-size: 14px;
    color: #4d4d4d;
  }

  .select_box {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #4d4d4d;
    padding-left: 16px;
    padding-right: 12px;
    position: relative;
    margin-top: 16px;
  }

  .select_tag {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .account_save_button {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background-color: #00bfff;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 24px;
  }

  .paid_title_date {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .paid_title_price {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .paid_title_font {
    font-size: 12px;
    color: #808080;
  }

  .paid_list_title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .paid_list_item_container {
    width: 100%;
    height: 58px;
    border-radius: 12px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
  }

  .paid_list_item_text {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
  }

  .label_title {
    font-size: 18px;
    font-weight: bold;
    color: #191919;
    text-align: left;
    margin-bottom: 20px;
  }

  .policy_label {
    opacity: 0.8;
    font-size: 14px;
    font-weight: bold;
  }

  .policy_contents {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.8;
    color: #999999;
    margin-top: 15px;
  }

  .policy_container {
    // margin-top: 24px;
  }

  .account_info_container {
    margin-top: 64px;
  }

  .paid_list_container{
    // margin-top: 32px;
  }

  // .paid_container {
  //   margin-top: 64px;
  // }

  .total_payment_box {
    width: 100%;
    height: 143px;
    border-radius: 12px;
    box-shadow: 6px 4px 15px 0 rgba(25, 25, 25, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .total_payment_container {
    text-align: center;
  }

  .total_payment_title {
    font-size: 14px;
    color: #acacac;
  }

  .total_payment_price {
    font-size: 30px;
    font-weight: bold;
    color: #0ec2ff;
  }

  .second_container {
    display: flex;
    margin-top: 10px;
  }

  .second_box {
    width: 100%;
    height: 64px;
    border-radius: 12px;
    box-shadow: 6px 4px 15px 0 rgba(25, 25, 25, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .second_box_title {
    font-size: 12px;
    color: #acacac;
  }

  .second_box_date {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
  }

  .second_box_explain {
    font-size: 12px;
    color: #acacac;
    margin-top: 23px;

  }

  @media (max-width: 520px){
    /*모바일일때*/  
    padding-top: 32px;
    padding-bottom: 32px;

    .account_info_container {
      margin-top: 32px;
    }

    .paid_container {
      margin-top: 32px;
    }

    .second_box_date {
      font-size: 12px;
    }

    .second_box_explain {
      margin-top: 11px;
    }
  }
}